{
    "presets": [
        [
            "@babel/preset-env",
            {
                "targets":{
                    "node":"current"
                },
                "modules":"commonjs"
            }
        ]
    ],
    "sourceMaps": "inline",
    "retainLines": true
}